*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Smokum', cursive; */
    font-family: 'Rye', cursive;
    scroll-behavior: smooth;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }

.title {
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 0.70;

}

.section-video {
    display: inline-block;
    width: 100%;
}

.bg-video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(112, 66, 20);
    height: 100%;
    width: 100%;
    opacity: .85;
    z-index: -1;
}

#bg-video {
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.75;
    overflow: hidden;
    mix-blend-mode: luminosity;
    background-image: url('../assets/images/horses.jpg');

}

.bg-video_image {
    background-image: url('../assets/images/horses.jpg');
    opacity: .2;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.bg-video_content {
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 5s;
}

.menu {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 18px;
    z-index: 10;
    opacity: 0.70;
}

.menu-items:hover {
    color: rgba(112, 66, 20, .6);
    cursor: pointer;
}

.menu-items:active {
    color: rgba(112, 66, 20, 1);
}

.modals {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 50%;
    background-color: rgba(207, 184, 161, 1);
    z-index: 10;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
    overflow: hidden;
}

.modals h2 {
    text-align: center;
    padding: 10px;
    opacity: 0.70;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.modal-close:hover {
    color: rgba(184, 149, 114, .8);
    cursor: pointer;
}

.modal-close:active {
    /* background-color: rgba(112, 66, 20, .8); */
    color: rgba(207, 184, 161, .8);
}

#settings-modal {
    /* opacity: 0; */
    transition: opacity .5s;
}

#about-modal {
    /* opacity: 0; */
    transition: opacity .5s;
}

.about-modal-menu {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.about-modal-menu_item {
    margin-left: 5px;
    color: #2c3e50;
    text-decoration: none;
}

.about-modal-menu_item:hover {
    color: rgba(112, 66, 20, .8);
    cursor: pointer;
}

.about-modal-menu_item:active {
    cursor: pointer;
    color: rgba(207, 184, 161, .8);
}

.modal-content-container {
    font-size: 14px;
    padding: 15px;
    height: 80%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.modal-section {
    padding: 10px;
    margin-top: 20px;
    opacity: 0.7;
}

.about-modal-menu_item_header {
    font-size: 16px;
    margin-bottom: 10px;
}

#modal-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(112, 66, 20, 1);
    border-radius: 10px;
    background-color:  rgba(207, 184, 161, .8);
    text-align: center;
    font-size: 24px;
    font-family: inherit;
    opacity: 1;
    transition: opacity 2s;
}

#start, h2 {
    margin: auto;
}

#start:hover {
    background-color: rgba(184, 149, 114, .8);
    cursor: pointer;
    /* color: rgba(207, 184, 161, .8); */
}

#start:active {
    background-color: rgba(112, 66, 20, .8);
    color: rgba(207, 184, 161, .8);

    /* transform: translateY(1px); */
}

.start-text {
    /* margin-top: 10px; */
    opacity: 0.70;
    vertical-align: middle;

}

.settings-item {

    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    vertical-align: middle;
}

.settings-label {
    margin-right: 10px;
    opacity: 0.7;
}

.settings-range {
    -webkit-appearance: none;
    width: 10em;
    height: 3em;
    background: #2c3e50;
    outline: none;
    border-radius: 2px;
}

.settings-range-items {
    display: flex;
    width: 10em;
    height: 3em;
    flex-direction: row;
}

.settings-range-value {
    margin-left: 10px;
    height: 100%;
    width: 20%;
    background: #2c3e50;
    outline: none;
}

.settings-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgba(207, 184, 161, .8);
    cursor: pointer;
}

.settings-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(207, 184, 161, .8);
    cursor: pointer;
  }


.settings-select {
    position: relative;
    display: flex;
    width: 10em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    /* flex: 1; */
    padding: 0 .5em;
    color: rgba(207, 184, 161, .8);
    cursor: pointer;
}

.settings-select::after {
    content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* .settings-select:hover::after {
    color: #f39c12;
} */

#settings-submit {
    float: right;
    margin-right: 10%;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    opacity: .7;
    font-size: 16px;
    /* height: 50px;
    width: 50px;
    border: 1px solid rgba(112, 66, 20, 1);
    border-radius: 5px; */
}

#settings-submit:hover {
    cursor: pointer;
    color: rgba(112, 66, 20, .8);
}

#settings-submit:active {
    color: rgba(184, 149, 114, .8);
}

#settings-message {
    width: 100%;
    padding: 10%;
    text-align: right;
    margin-top: 10px;
    color: #34495e;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}